/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 24, 2015, 6:50:10 PM
    Author     : PeeyushA
*/


@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.eot');
    src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('fonts/roboto-regular-webfont.woff') format('woff'),
        url('fonts/roboto-regular-webfont.ttf') format('truetype'),
        url('fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'archivo_narrowregular';
    src: url('fonts/archivonarrow-regular-webfont.eot');
    src: url('fonts/archivonarrow-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/archivonarrow-regular-webfont.woff2') format('woff2'),
        url('fonts/archivonarrow-regular-webfont.woff') format('woff'),
        url('fonts/archivonarrow-regular-webfont.ttf') format('truetype'),
        url('fonts/archivonarrow-regular-webfont.svg#archivo_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato-regular-webfont.eot');
    src: url('fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/lato-regular-webfont.woff2') format('woff2'),
        url('fonts/lato-regular-webfont.woff') format('woff'),
        url('fonts/lato-regular-webfont.ttf') format('truetype'),
        url('fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'montserratregular';
    src: url('fonts/montserrat-regular-webfont.eot');
    src: url('fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
        url('fonts/montserrat-regular-webfont.woff') format('woff'),
        url('fonts/montserrat-regular-webfont.ttf') format('truetype'),
        url('fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'fira_sansregular';
    src: url('fonts/firasans-regular-webfont.eot');
    src: url('fonts/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/firasans-regular-webfont.woff2') format('woff2'),
        url('fonts/firasans-regular-webfont.woff') format('woff'),
        url('fonts/firasans-regular-webfont.ttf') format('truetype'),
        url('fonts/firasans-regular-webfont.svg#fira_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}