<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Update Profile</h1>    
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form name="myform" novalidate>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label style="font-size: 25px; font-weight: initial; margin: 5px 50px;">UserId:</label>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="memberId" class="form-control input-lg" placeholder="Member Id" ng-model="updateProfiledata.memberId" ng-disabled="true">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="firstname" class="form-control input-lg" placeholder="First Name" ng-model="updateProfiledata.firstname">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="lastname" class="form-control input-lg" placeholder="Last Name" ng-model="updateProfiledata.lastname">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="fathername" class="form-control input-lg" placeholder="Father Name" ng-model="updateProfiledata.fathername">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="mothername" class="form-control input-lg" placeholder="Mother Name" ng-model="updateProfiledata.mothername">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <!--<input type="text" name="dob" class="form-control input-lg" placeholder="DOB" ng-model="updateProfiledata.dob">-->

                            <datetimepicker data-ng-model="updateProfiledata.dob"></datetimepicker>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="qualification" class="form-control input-lg" placeholder="Qualification" ng-model="updateProfiledata.qualification">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="specialization" class="form-control input-lg" placeholder="Specialization" ng-model="updateProfiledata.specialization">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="contact" class="form-control input-lg" placeholder="Contact" ng-model="updateProfiledata.contact">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <textarea name="address" class="form-control input-lg" placeholder="Address" ng-model="updateProfiledata.address">
                            </textarea>                       
                        </div>  
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label style="font-size: 25px; font-weight: initial; margin: 5px 50px;">Department:</label>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <select name="department" ng-model="updateProfiledata.department" style="width: 260px; height: 46px; border-radius: 5px;">
                                <option value="BBA">BBA</option>
                                <option value="BCA">BCA</option>
                                <option value="BTECH">BTECH</option>
                                <option value="MBA">MBA</option>
                                <option value="MCA">MCA</option>
                            </select>     
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <i ng-hide="mySpin" style="font-size: 25px; margin-left: 318px; margin-top: -15px;" class="ic fa-li fa fa-spinner fa-spin mySpin"></i>
                    </div>
                </div>
                <hr class="colorgraph">
                <div class="row" style="margin-bottom: 25px;">
                    <div class="col-xs-12 col-md-6"><input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg" ng-click="submit(updateProfiledata);"></div>
                    <div class="col-xs-12 col-md-6"><input type="submit" value="Back" class="btn btn-primary btn-block btn-lg" ng-click="back();"></div>
                </div>
            </form>
        </div>
    </div>
</div> 