<div class="container">
    <div class="row">
        <h1>Hello Admin</h1>    
    </div>
    <div class="row">
        <div class="role">
            <p>
                Admin Role:
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <input type="button" class="btn-primary" value="Create User" ng-click="newUser();">
        </div>
        <div class="col-lg-4">
            <input type="button" class="btn-danger" value="Users List" ng-click="userList();">
        </div>
        <div class="col-lg-4">
            <input type="button" class="btn-danger" value="Project List" ng-click="projectList();">
        </div>
    </div>
</div> 