<div class="container">
    <div class="row">
        <h1>Hello Student</h1>    
    </div>
    <div class="row">
        <div class="role">
            <p>
                Student Role:
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <input type="button" class="btn-primary" value="Update Profile" ng-click="updateProfile();">
        </div>
        <div class="col-lg-4">
            <input type="button" class="btn-danger" value="Upload Project" ng-click="projects();">
        </div>
        <div class="col-lg-4">
            <input type="button" class="btn-danger" value="Approval Stage">
        </div>
    </div>
</div> 